# normalize text files in repo to LF
* text=auto

# ensure common source files use LF in repo
*.py     text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.js     text eol=lf
*.jsx    text eol=lf

# binaries remain binary
*.png binary
*.jpg binary
*.zip binary